.head {
    padding: 2%;
}

.about-head {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.content {
    padding: 2%;
}

.content p {
    font-size: 0.7rem;
    text-align: center;
    color: #424242;
}

@media (min-width: 425px) {

    .about-head {
        font-size: 1.5rem;
    }

    .content p {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {

    .about-head {
        font-size: 2rem;
    }

    .content p {
        font-size: 1.3rem;
    }
}

@media (min-width: 1024px) {

    .about-head {
        font-size: 3rem;
    }

    .content p {
        font-size: 1.5rem;
    }
}

@media (min-width: 1440px) {

    .about-head {
        font-size: 4rem;
    }

    .content p {
        font-size: 1.8rem;
    }
}