.directions {
  padding: 16px 2%;
}

.directions span {
  color: black !important;
  cursor: pointer;
}

.directions span svg {
  color: #000;
}

.directions span svg:hover {
  transform: scale(1.01) translateY(-2px);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  background: #aac8fc;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 30px 20px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.wrapper h1 {
  font-size: 2.25rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.25rem;
}

.wrapper .c-input-box {
  position: relative;
  width: 100%;
  height: 30px;
  margin: 2.2rem 0;
}

.c-input-box input {
  width: 250px;
  background: #f4f4f4;
  border: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 1rem;
  padding: 0.75rem 2.5rem;
}

.c-input-box .icon {
  position: absolute;
  right: 1rem;
  top: 90%;
  transform: translateY(-50%);
  font-size: 1.25rem;
}

.wrapper .forgot-pass {
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
  margin: 0.5rem 0 1rem;
}

.forgot-pass a {
  color: #114fbb;
  text-decoration: none;
}

.forgot-pass a:hover {
  text-decoration: underline;
}

.wrapper .register-link {
  font-size: 0.9rem;
  text-align: center;
  margin: 1.25rem 0 1rem;
}

.register-link p a {
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
  color: #114fbb;
}

.btn {
  width: 100%;
  min-width: 100% !important;
  background-color: #5995fd !important;
  border: none;
  outline: none;
  height: 45px;
  border-radius: 40px;
  font-size: 1.2rem;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0.5rem 0;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #114fbb !important;
  color: black !important;
}

.nodeco {
  text-decoration: none;
  color: #f4f4f4 !important;
}

.art-reg {
  text-align: center;
}

.c-names {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.c-names-input {
    width: 120px !important;
    padding: 0.7rem 0.6rem !important;
}

.error-message {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  left: 0;
  color: #dc3545;
  font-size: 0.875rem;
  background: #f8d7da;
  border-radius: 8px;
  padding: 0.25rem 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: block;
}

/* media queries */

@media (min-width: 768px) {
  .wrapper {
    padding: 60px 80px;
  }

  .wrapper h1 {
    font-size: 2rem;
  }

  .c-input-box {
    margin: 1rem 0;
  }

  .c-input-box input {
    width: 300px;
    padding: 0.75rem 2rem;
  }

  .c-input-box .icon {
    right: 0.75rem;
    font-size: 1.1rem;
  }

  .wrapper .forgot-pass {
    font-size: 1rem;
  }

  .wrapper .register-link {
    font-size: 0.9rem;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    padding: 80px 90px;
  }

  .wrapper h1 {
    font-size: 1.5rem;
  }

  .c-input-box {
    margin: 0.75rem 0;
  }

  .c-input-box input {
    width: 270px;
    padding: 0.75rem 1.5rem;
  }

  .c-input-box .icon {
    font-size: 1rem;
  }

  .wrapper .forgot-pass {
    font-size: 1rem;
  }

  .wrapper .register-link {
    font-size: 0.9rem;
  }
}

@media (min-width: 1440px) {
  .wrapper h1 {
    font-size: 1.9rem;
  }

  .c-input-box input {
    padding: 0.75rem 1rem;
  }
}
