.contain {
    background: #aac8fc;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    padding: 20% 12%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* .contain h1{
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.25rem;
  } */
  