.all-content {
  padding: 2% 16px;
  margin-bottom: 50px;
}

.all-content h1 {
  text-align: center;
}

.back svg,
.back p {
  font-size: 0.8rem;
}

.form-groups {
  margin-top: 20px;
}

.form-groups .username,
.form-groups .email,
.form-groups .phone-number,
.form-groups .amount {
  display: flex;
  justify-content: center;
}

.form-groups .username input,
.form-groups .email input,
.form-groups .phone-number input,
.form-groups .amount input {
  padding: 2% 16px;
  margin-bottom: 15px;
  border-radius: 5px;
  width: 100%;
}

@media (min-width: 768px) {
  .intro p {
    font-size: 1rem;
    padding: 2% 4%;
  }

  .back svg,
  .back p {
    font-size: 1.2rem;
  }


.form-groups .username input,
.form-groups .email input,
.form-groups .phone-number input,
.form-groups .amount input {
    width: 50%;
    font-size: 1.1rem;
  }

  .pay {
    padding: 0 15%;
  }

  .pay-btn {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .intro p {
    font-size: 1.2rem;
  }

  .pay-for p {
    font-size: 1.4rem;
  }

  .back svg,
  .back p {
    font-size: 1.4rem;
  }

  .form-groups .username input,
  .form-groups .email input,
  .form-groups .phone-number input,
  .form-groups .amount input {
    font-size: 1.2rem;
  }
}

@media (min-width: 1440px) {
  .intro p {
    font-size: 1.6rem;
  }

  .pay-for p {
    font-size: 1.8rem;
    padding: 0.4% 30px;
  }

  .back svg,
  .back p {
    font-size: 1.8rem;
  }

  .form-groups .username input,
  .form-groups .email input,
  .form-groups .phone-number input,
  .form-groups .amount input {
    font-size: 1.3rem;
  }
}
