.accountinformation {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
} 

.accountinformation h1 {
    padding: 10px 20px;
}

.accountinformation .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
}

.accountinformation .form .form-group {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 10px;
}

.accountinformation .form .form-group label {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 5px;
}

.accountinformation .form .form-group input {
    padding: 10px 20px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    outline: none;
}

.displayed {
    background: #E0E0E0;
    padding: 7%;
    text-align: center;
    border-radius: 50px;
    line-height: 2.2rem;
    font-size: 1.3rem;
}

  @media (max-width: 550px){

    .accountinformation .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px 20px;
    }

    .accountinformation .form .form-group {
        display: flex;
        flex-direction: column;
        width: 97%;
        margin: 10px;
    }

    .accountinformation h1 {
        font-size: 20px;
    }

    .accountinformation .form .form-group label {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 5px;
    }
}